@media only screen and (max-width:1650px){
  .sidebar-subcriptions .live-icon {
    left: 14rem;
  }
  .sidebar-subcriptions span {
    left: 14.5rem;
  }
}

@media only screen and (max-width: 1450px)
{
  .sidebar-homesection img, 
  .sidebar-Explore img, 
  .sidebar-more img,
  .sidebar-you img,
  .sidebar-subcriptions img{
    margin-right: 14px;
  }
  .sidebar a {
    padding: 8px 6px;
    font-size: 13px;
  }
  .small-sidebar a  {
    font-size: 10px;
    padding: 16px 0px 14px 0px;
    justify-content: center;
    flex-direction: column;
  }
  .small-sidebar img {
    margin-right: 0;
    margin-bottom: .7rem;
  }
  .sidebar-subcriptions p:first-child,
  .sidebar-Explore p:first-child,
  .sidebar-more p:first-child{
    font-size: 15px;
    padding: 4px 6px;
    margin-bottom: 0px;
  }
  #you-section-heading {
    padding: 6px 6px;
  }
  #you-section-heading p {
    font-size: 15px;
  }
  .homesection-line {
    margin: 10px 0px 10px 6px;
  }
  .sidebar-subcriptions .live-icon {
    left: 12rem;
  }
  .sidebar-subcriptions span {
    left: 12.5rem;
  }
  

}
@media only screen and (max-width: 1250px)
{
  .sidebar-homesection img, 
  .sidebar-Explore img, 
  .sidebar-more img,
  .sidebar-you img,
  .sidebar-subcriptions img{
    margin-right: 7px;
  }
  .sidebar a {
    padding: 8px 3px;
    font-size: 12px;
  }
  .small-sidebar a  {
    font-size: 10px;
    padding: 16px 0px 14px 0px;
    justify-content: center;
    flex-direction: column;
  }
  .small-sidebar img {
    margin-right: 0;
    margin-bottom: .7rem;
  }
  .sidebar-subcriptions p:first-child,
  .sidebar-Explore p:first-child,
  .sidebar-more p:first-child{
    font-size: 14px;
    padding: 4px 3px;
    margin-bottom: 0px;
  }
  #you-section-heading {
    padding: 6px 3px;
  }
  #you-section-heading p {
    font-size: 14px;
  }
  .homesection-line {
    margin: 10px 0px 10px 3px;
  }
  .sidebar-subcriptions .live-icon {
    left: 10rem;
  }
  .sidebar-subcriptions span {
    left: 10.5rem;
  }
  body {
    padding-top: 13.8rem;
  }
}


@media only screen and (max-width: 999px)
{
  .sidebar {
    width: 7.2rem;
  }
  .sidebar a {
    font-size: 10px;
    padding: 16px 0px 14px 0px;
    justify-content: center;
    flex-direction: column;
  }
  .sidebar img {
    margin-right: 0;
    margin-bottom: .7rem;
  }
  .sidebar-sections {
    padding: 0px 4px;
  }  

  #you-section-heading, hr, .sidebar-Explore,
  .sidebar-subcriptions, .sidebar-more, .sidebar-bottomtext,
  .sidebar-you .show-more,.sidebar-you .youtube-music {
    display: none;
  }

  .topic-tabs {
    padding-left: 9.9rem;
  }

  .main-container {
    padding-left: 9.9rem;
  }
  body {
    padding-top: 13.6rem;
  }
  .home-container {
    font-weight: 400;
    background-color: white;
  }
  

}

@media only screen and (max-width:750px)
{
  .upload-icon, .notification-icon, .notification-number {
    display: none;
  }
  .profile-picture {
    padding: 0;
  }
  .nav-section3 {
    width: fit-content;
  }
  .topic-tabs {
    padding-left: 9rem;
  }

  .main-container {
    padding-left: 9rem;
  }
  body {
    padding-top: 13.2rem;
  }
}

@media only screen and (max-width: 650px)
{
  .NavBar {
    padding: 0rem .5rem;
  }
  .youtube-logo {
    padding: 0rem 0rem 0rem .5rem;
    margin-right: 1.8rem;
  }
  .youtube-logo img {
    width: 10rem;
  }
  .small-searchicon {
    display: none;
  }
  .search-bar {
    margin-left: 0;
    border-right: none;
    box-shadow: none;
  }
  .search-icon {
    background-color: white;
  }
  .search-icon:active {
    background-color:white;
  }
  .search-icon:hover {
    background-color: white;
    box-shadow: none;;
  }
  .sea
  .search-bar:focus {
    border: 1px solid rgb(204, 204, 204);
    border-right: none;
  }
  .nav-section2:focus-within .small-searchicon,
  .search-bar:not(:placeholder-shown) + .small-searchicon {
    display: none;
    border: none;
  }
  .search-bar:focus {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid rgb(204, 204, 204);
    border-right: none;
  }
  .sidebar ,.small-sidebar, .sidebar-sections {
    display:none;
  }
  .menu-icon, .voice-search-icon {
    display: none;
  }
  .topic-tabs {
    padding-left: 5%;
  }

  .nav-section3 {
    margin-left: 1rem;
  }
  .profile-picture {
    width: fit-content;
    text-align: end;
    padding-right: .5rem;
    margin-left: 2rem;
  }
  .profile-picture img {
    width: 3.8rem;
    height: 3.8rem;
  }
  .main-container {
    padding-left: 5%;
    padding-right: 5%;
    row-gap: 2.5rem;
  }
  body {
    padding-top: 11.8rem;
  }
  .video-container .thumbnail {
    margin-bottom: 1rem;
  }
  .video-content .video-title {
    margin-bottom: .2rem;
  }
  .video-content .author-name {
  
    color: rgb(90, 90, 90);
  }
  .video-content .video-date {
    font-size: 1.34rem;
  }
  .topic-tabs li {
    font-size: 1.3rem;
    padding: .7rem 1rem;
    margin: 1.2rem 1.2rem 1.2rem 0rem;
    background-color: var(--topic-tabs-clr);
    flex-shrink: 0;
    font-weight: 500;
    border-radius: .8rem;
    cursor: pointer;
  }
  .topic-tabs ul::-webkit-scrollbar {
    height: 0rem;
  }
  
  .tab-links .topic-tabs{
    padding-left: 5%;
  }
  .mainsection-toggle .main-container {
    padding-left: 5%;
  }
}